extends layout

block content
    .timeline
        .profile-change
            a#profile-edit.btn(href='/edit') Profile Change
        .followings.half
            h2 Following List
            if user.Followings
                for following in user.Followings
                    div= following.nick
        .followers.half
            h2 Follower List
            if user.Followers
                for follower in user.Followers
                    div= follower.nick
